* {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
body {
	font-family: Arial;
}
.calc_close {
	background: 0px 0px black; border-radius: 50%; top: -12px; width: 25px; height: 25px; text-align: center; right: -12px; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px; font-weight: bold; position: absolute; cursor: pointer;
}
.calc_close:hover {
	background: rgb(192, 57, 43);
}
.calc_container {
	background: 0px 0px rgb(218, 218, 218); border-width: 1px 1px 7px; border-style: solid; border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(153, 153, 153); padding: 10px; border-radius: 5px; border-image: none; width: 463px; position: relative; box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.1);
}
.left_sec {
	float: left;
}
.right_sec {
	height: 180px; float: left;
}
.calc_row {
	overflow: hidden; margin-bottom: 5px; display: block;
}
#keyPad a {
	background: rgb(241, 241, 241); border-width: 1px 1px 3px; border-style: solid; border-color: rgb(170, 170, 170); border-radius: 4px; border-image: none; width: 35px; height: 25px; text-align: center; color: rgb(68, 68, 68); line-height: 20px; font-size: 12px; font-weight: bold; text-decoration: none; margin-right: 5px; vertical-align: middle; float: left; cursor: pointer;
}
#keyPad a.min {
	font-size: 10.5px;
}
#keyPad a.last {
	margin-right: 0px;
}
#keyPad a:active {
	height: 25px; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
#keyPad_btnEnter:active {
	bottom: 17px !important; position: absolute !important;
}
#keyPad a:hover {
	background: rgb(234, 234, 234);
}
.text_container {
	display: inline;
}
.memoryhide {
	transition:opacity 1s, visibility, 1s; top: 52px; right: 429px; bottom: 0px; visibility: hidden; position: absolute; opacity: 0;
}
.memoryshow {
	visibility: visible; opacity: 1;
}
.keyPad_TextBox {
	background: 0px 0px rgb(255, 255, 255); border-width: 1px 1px 3px; border-style: solid; border-color: rgb(170, 170, 170); border-radius: 3px; border-image: none; width: 434px; height: 30px; text-align: right; line-height: 30px; text-indent: 10px; padding-right: 5px; font-size: 20px; margin-bottom: 7px; vertical-align: middle; float: left;
}
.keyPad_TextBox1 {
	background: 0px 0px rgb(255, 255, 255); border-width: 1px 1px 3px; border-style: solid; border-color: rgb(170, 170, 170); border-radius: 3px; border-image: none; width: 434px; height: 30px; text-align: right; line-height: 30px; text-indent: 10px; padding-right: 5px; font-size: 20px; margin-bottom: 7px; vertical-align: middle; float: left;
}
.degree_radian {
	width: 80px; height: 25px; font-size: 9px; margin-top: 4px; vertical-align: middle; float: left; display: inline-block;
}
#keyPad_btnDot {
	width: 35px !important;
}
#keyPad_btn0 {
	width: 76px !important;
}
.calc_arrows {
	font-size: 24px !important;
}
#keyPad #keyPad_btnEnter {
	background: 0px 0px rgb(46, 204, 113); border-color: rgb(39, 174, 96); width: 35px; height: 53px; right: 10px; bottom: 17px; color: rgb(255, 255, 255); line-height: 47px; font-size: 20px; position: absolute;
}
#keyPad #keyPad_btnClr {
	background: 0px 0px rgb(231, 76, 60); border-color: rgb(192, 57, 43); width: 35px !important; color: rgb(255, 255, 255);
}
#keyPad #keyPad_btnInverseSign {
	background: 0px 0px rgb(231, 76, 60); border-color: rgb(192, 57, 43); width: 35px !important; color: rgb(255, 255, 255);
}
#keyPad #keyPad_btnAllClr {
	background: 0px 0px rgb(231, 76, 60); border-color: rgb(192, 57, 43); width: 35px !important; color: rgb(255, 255, 255);
}
#keyPad #keyPad_btnBack {
	background: 0px 0px rgb(231, 76, 60); border-color: rgb(192, 57, 43); width: 76px !important; color: rgb(255, 255, 255);
}
#keyPad #keyPad_btnSquare {
	font-size: 12px;
}
#keyPad #keyPad_btnCube {
	font-size: 12px;
}
#keyPad #keyPad_btnExp {
	font-size: 12px;
}
#keyPad #keyPad_btnYpowX {
	font-size: 12px;
}
.clear {
	clear: both;
}
.superscript {
	top: -0.5em; font-size: 0.7em; position: relative;
}
.subscript {
	top: -0.5em; font-size: 0.7em; position: relative;
}
.subscript {
	top: 0.5em;
}
#keyPad_MC
{
    margin-left: 2px;
}